* {
margin:0;
padding:0;}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;}
	
h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;}

.main-content-wrapper, header > .row {
	max-width:1200px;
	margin:0 auto;}

/*--------- header --------*/

header {
	background-color:#49154a;
	height:88px;}
	
.logo {
	margin-top:25px;}	
	
/*-------- end header ------*/

/*---- main section ---------*/
.main-content-wrapper > * {
	padding-left:0;
	padding-right:0;}


.top-btns-holder > a {
	padding-left:12px;
	padding-right:12px;
	margin-top:15px;
	margin-bottom:15px;
	display:block;
	height:40px;
	line-height:40px;
	color:white;
	font-size:1.188em;
	font-weight:600;
	background-color:#1fb6db; }
	
.top-btns-holder > a > span {
	display:block;
	float:left;
	height:40px;
	line-height:40px;}
	
.top-btns-holder > a > span > img {
	display:block;
	margin-top:7px;}
	
.top-btns-holder > a > span:last-child{
	margin-left:10px;}
	

.item-top {
	height:225px;
	background-position:center center;
	background-size:cover;	
	position:relative;}
	
/*--- item head - part 	---*/


	
.item-head {
	background:url(../images/item_headr_bg.png) top repeat-x ;
	height:55px;}
	
.header-blur {
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);}
		
	
.item-head > h2 {
	width:60%;
	color:white;
	font-size:1em;
	font-weight:600;
	text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.3);
	line-height:55px;
	margin-left:10px;
	margin-top:0;
	overflow: hidden;
	white-space: nowrap; /* Don't forget this one */
	text-overflow: ellipsis; }
	
.item-head > .price {
	padding-left:10px;
	padding-right:10px;
	height:100%;
	background-color:#72287d;
	color:white;
	font-size:1.188em;
	font-weight:600;}
	
.item-head > .price > span:first-child {
	margin-top:10px;
	line-height:0.750em;
	font-size:0.750em;}
	
.item-head > .price > span {
	text-transform:uppercase;
	display:block;}
	
.rating-holder {
	margin-top:7px;
	margin-right:10px;
	color:white;
	font-weight:600;
	font-size:0.938em;}
	
.rating-holder > span {
	height:20px;
	width:20px;
	text-align:center;
	display:block;}	
	
.rating.rating-0 {
	background:url(../images/sprite_rating_head.png) left top no-repeat;}
	
.rating.rating-1, .rating.rating-2,
.rating.rating-3, .rating.rating-4,
.rating.rating-5 {
	background:url(../images/sprite_rating_head.png) left bottom no-repeat;}
	
/*---- item content  part----*/	
	
.item-content {
	height:100%;
	position:relative;}
	
.item-menu {
	position:absolute;
	bottom:0;
	right:0;
	margin:0;
	list-style:none;}
		
.item-menu > li {
	border-right:1px solid white;
	float:left;}	
	
.item-menu > li:last-child {
	border-right:none;}
	
.item-menu li > a {
	text-align:center;
	display:block;
	height:45px;
	width:45px;
	line-height:45px;
	background-color:#1fb6db;}
	
.item-menu li > a:hover  {
	background-color:#aaaaaa;}
	
	
.item-menu li.book > a > span {
	display:block;
	float:left;
	font-size:1.188em;
	font-weight:600;
	color:white;
	text-decoration:none;}
	
.item-menu li.book > a > span:first-child {
	margin-left:10px;}
	
.item-menu > li:last-child > a{
	width:100px;
	background-color:#e7307d;}
	
.fav-item-btn {
	position:absolute;
	bottom:0;
	left:0;
	display:block;
	height:45px;
	width:45px;
	background:url(../images/fav-like-bg.png) center top no-repeat;}
	
a.fav-item-btn:hover {
	background-position:center bottom;}
		
	
	
	
			
	
	
	
	
aside {
	height:300px;}
	
aside.a-left {
	background-color:#549D32;}
	
aside.a-right {
	background-color:#5C4915;}
	
	
/*--------------  media queries -------------------------*/
@media (min-width: 471px) {
	.item-head > h2 {font-size:1.375em; width:68%;}
	
} /*-- 471 end --*/